<div class="weather-block">
  <div class= "front-block">
    FRONT CONTENT
    <div>Humidity {{ crumbs_debug_page.hello }} </div>
    <div>Max Temp {{ crumbs_debug_page.hello }} </div>
    <div>Min Temp {{ crumbs_debug_page.hello }} </div>
    <div>pressure {{ crumbs_debug_page.hello }} </div>
    <div>wind speed <br>{{ crumbs_debug_page.hello }}</div>
  </div>
</div>
